<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="mssql"
			 connectionString="Data Source=192.168.65.100;
			 Initial Catalog=ZuevVS;User ID=Teacher;Password=shag39;
			 Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;
			 ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>-->
			 connectionString="Data Source=192.168.65.100;Initial Catalog=CarSharingManannikov;User ID=Student;Password=shag39;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>